server.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="server" targetNamespace="urn:server" xmlns:typens="urn:server" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="getUserList" />
	<message name="getUserListResponse">
		<part name="getUserListReturn" type="xsd:string"/>
	</message>
	<message name="getProductList"/>
	<message name="getProductListResponse">
		<part name="getProductListReturn" type="xsd:string" />
	</message>
	<message name="getStat" />
	<message name="getStatResponse">
		<part name="getStatReturn" type="xsd:string" />
	</message>
	<message name="getUser">
		<part name="getUserReturn" type="xsd:integer" />
	</message>
	<message name="getUserResponse">
		<part name="getUserReturn" type="xsd:string" />
	</message>
	<portType name="ServerPortType">
		<operation name="getUserList">
			<input message="typens:getUserList"/>
			<output message="typens:getUserListResponse"/>
		</operation>
		<operation name="getProductList">
			<input message="typens:getProductList"/>
			<output message="typens:getProductListResponse"/>
		</operation>
		<operation name="getStat">
			<input message="typens:getStat"/>
			<output message="typens:getStatResponse"/>
		</operation>
		<operation name="getUser">
			<input message="typens:getUser"/>
			<output message="typens:getUserResponse"/>
		</operation>
	</portType>
	<binding name="ServerBinding" type="typens:ServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getUserList">
			<soap:operation soapAction="urn:ServerAction"/>
			<input>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getProductList">
			<soap:operation soapAction="urn:ServerAction"/>
			<input>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStat">
			<soap:operation soapAction="urn:ServerAction"/>
			<input>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getUser">
			<soap:operation soapAction="urn:ServerAction"/>
			<input>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:server" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="serverService">
		<port name="ServerPort" binding="typens:ServerBinding">
			<soap:address location="http://localhost/SOAP/server.php"/>
		</port>
	</service>
</definitions>
